In [3]:
!pip install pandas
import pandas as pd

dfm1 = pd.read_csv('mouse1.csv')
dfm2 = pd.read_csv('mouse2.csv')
dfm8 = pd.read_csv('mouse8.csv')
dfp1 = pd.read_csv('pad1.csv')
dfp2 = pd.read_csv('pad2.csv')
dfp8 = pd.read_csv('pad8.csv')

combined_df = pd.concat([dfm1, dfm2, dfm8, dfp1, dfp2, dfp8])
print (combined_df)

result = combined_df.groupby(['Size', 'Amplitude', 'Device'])['Time'].mean()
print(result)

result2 = combined_df.groupby(['Device'])['Wrong'].sum()
print(result2)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
    ID  Size  Amplitude      Time  Wrong  Device
0    1   0.9        1.5  1.250131      0   mouse
1    1   0.9        1.5  0.856966      0   mouse
2    1   0.9        1.5  0.939908      0   mouse
3    1   0.9        1.5  0.772747      0   mouse
4    1   0.9        1.5  0.819812      0   mouse
..  ..   ...        ...       ...    ...     ...
86   8   0.3        4.5  1.606721      0     pad
87   8   0.3        4.5  1.144663      0     pad
88   8   0.3        4.5  1.206654      0     pad
89   8   0.3        4.5  0.964014      0     pad
90   8   0.3        4.5  1.112280      0     pad

[550 rows x 6 columns]
Size  Amplitude  Device
0.3   1.5         mouse    0.874092
                  pad      1.235761
      3.0         mouse    1.010181
                  pad      1.343826
      4.5         mouse    1.290883
                  pad      1.580072
0.6   1.5         mouse    0.718376
                  pad      1.005849
      3.0         mouse    0.828232
                  pad      1.192842
      4.5         mouse    1.005158
                  pad      1.318290
0.9   1.5         mouse    0.736002
                  pad      1.037680
      3.0         mouse    0.753150
                  pad      1.123415
      4.5         mouse    0.861923
                  pad      1.280898
Name: Time, dtype: float64
Device
 mouse    6
 pad      4
Name: Wrong, dtype: int64